/* static/css/home.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.container {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    width: 20%;
    padding: 20px;
    border-right: 1px solid #ccc;
    background-color: #f9f9f9;
}

.sidebar h2 {
    margin-top: 0;
}

#user-list {
    list-style-type: none;
    padding: 0;
}

#user-list li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#user-list li:hover {
    background-color: #007bff;
    color: #fff;
}

.chat {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chat-window {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fff;
    overflow-y: auto;
}

#message-form {
    display: flex;
    flex-direction: column;
}

#message-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

#message-form button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#message-form button:hover {
    background-color: #0056b3;
}

/* Adicione esta classe */
.recipient-message {
    color: green;
}
