<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrar Mensagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='filter.css') }}">
</head>
<body>
    <h1>Filtrar Mensagens</h1>

    <div class="container">
        <div class="sidebar">
            <h2>Opções de Filtro</h2>
            <form id="filter-form">
                <label>
                    <input type="radio" name="filter" value="sent"> Mensagens Enviadas
                </label>
                <label>
                    <input type="radio" name="filter" value="received"> Mensagens Recebidas
                </label>
                <button type="submit">Aplicar Filtro</button>
            </form>
        </div>

        <div class="chat">
            <div id="chat-window">
                {% if conversas %}
                    {% for conversa in conversas %}
                        <!-- ta tudo esquisito nessa porra-->
                        <div class="message {% if conversa.isSent %}sent-message{% else %}recipient-message{% endif %}">
                            <p>{{ conversa.user_name }}</p> <!-- ta invertido, nao sei pq fodase também -->
                            <span class="message-date">{{ conversa.message }} - {{ conversa.date }}</span> <!-- nao sei pq essa porra dessa caralha ta invertda mas so funciona assim entao fodase -->
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Selecione um filtro para ver as mensagens.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.getElementById('filter-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const filter = document.querySelector('input[name="filter"]:checked').value;

            fetch('/filter_messages', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `filter=${filter}`
            })
            .then(response => response.text())
            .then(html => {
                document.open();
                document.write(html);
                document.close();
            });
        });
    </script>
</body>
</html>
