<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='show_group_message.css') }}">
</head>
<body>
    <h1>Página Grupos</h1>
    
    <div class="container">
        <!-- Sidebar para listar as conversas -->
        <div class="sidebar">
            <!-- Botão de filtro -->
            <h2>Grupos</h2>
            <ul id="group-list">
                <!-- Loop para gerar a lista de conversas -->
                {% for grupo in grupo_active %}
                    <li onclick="showMessages('{{ grupo.group_id }}', '{{ grupo.group_name }}')">{{ grupo.group_name }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Area do chat principal -->
        <div class="chat">
            <!-- Cabeçalho para exibir o nome do usuário -->
            <div id="chat-header">
                <h2 id="recipient-name"></h2>
            </div>
            <!-- Janela de chat onde as mensagens serão exibidas -->
            <div id="chat-window">
                <p>Selecione um grupo para ver as mensagens.</p>
            </div>

            <!-- Barra de envio de mensagem -->
            <div id="message-form">
                <form onsubmit="sendMessage(event)">
                    <input type="hidden" id="current-recipient-id">
                    <div class="form-controls">
                        <textarea id="message-input" rows="3" placeholder="Digite sua mensagem..."></textarea>
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Converte a variável do template para um objeto JS
        const grupo_active = {{ grupo_active|tojson|safe }};
        
        // Função para criar um elemento de mensagem
        function createMessageElement(text, date, isSent) {
            const messageElement = document.createElement('div');
            messageElement.classList.add('message');
            messageElement.classList.add(isSent ? 'sent-message' : 'recipient-message');

            const messageText = document.createElement('p');
            messageText.textContent = text;

            const messageDate = document.createElement('span');
            messageDate.textContent = date;
            messageDate.classList.add('message-date');

            messageElement.appendChild(messageText);
            messageElement.appendChild(messageDate);

            return messageElement;
        }

        // Função para exibir mensagens na janela de chat
        function showMessages(grupoId, grupoName) {
            const chatWindow = document.getElementById('chat-window');
            const messageForm = document.getElementById('message-form');
            // Mostra o nome da conversa
            const recipientName = document.getElementById('recipient-name');
            recipientName.textContent = userName;

            // Limpa o conteudi atual da janela de chat
            chatWindow.innerHTML = '';

            // Oculta a barra de envio de mensagem até que uma conversa seja selecionada
            messageForm.style.display = 'none';

            // Encontra a conversa correspondente ao usuário selecionado
            const userConversa = grupo_active.find(conversa => grupo_active.group_id == grupoId);
            if (userConversa) {
                // Itera sobre cada mensagem na conversa
                userConversa.conversas.forEach(msg => {
                    const [messageText, messageDate, senderId] = msg;
                    // Verifica se a mensagem foi enviada pelo usuário atual
                    const isSent = senderId == '{{ session.user_id }}';

                    // Formata a data para exibir apenas horas e minutos
                    const formattedDate = new Date(messageDate).toLocaleTimeString('pt-BR', {
                        hour: '2-digit',
                        minute: '2-digit'
                    });
                    // Cria um elemento para a mensagem
                    const messageElement = createMessageElement(messageText, formattedDate, isSent);
                    // Adiciona a mensagem à janela de chat
                    chatWindow.appendChild(messageElement);
                });

                // Rola a janela de chat para mostrar a última mensagem
                chatWindow.scrollTop = chatWindow.scrollHeight;
                // Exibe a barra de envio de mensagem 
                messageForm.style.display = 'block';
            }
            
            // Atualiza o campo oculto com o id do destinatário
            document.getElementById('current-recipient-id').value = userId;
        }

    </script>
</body>
</html>
